{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chat</title>
    <meta
      name="description"
      content="Noser Chat: E-Days Europapark Monitoring"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="/static/main.css?v=5" />
    <script src="/static/main.js?v=4" type="text/javascript" defer></script>
  </head>
  <body>
    <div class="chat-app">
      <div class="header">
        <h1>Noser E-Days Chat</h1>
        <p>Let's talk about Monitoring!</p>
      </div>
      {{ template "main" . }}
    </div>
  </body>
</html>
{{ end }}
